name: prograemmers-be
on :
  push :  # push 했을때
    branches:
      - main  #main 브랜치에
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4 #CI에 배포

      - name: Set up JDK 17
        uses: actions/setup-java@v1.4.3 #JDK 설치
        with:
          java-version: 17

      - name: Grant for gradlew #권한 부여
        run: chmod +x ./gradlew
        shell: bash

      - name: build gradle
        run: ./gradlew clean build  #clean build
        shell: bash